<div class="row">
  <div class="col-md-12">
    <% if @tagged_articles.present? %>
      <h4 class="search-tag-result">タグ: <%= @tag.name %>の一覧 (<%= @total_articles_count %>件)</h4>
      <ul id="search-or-tagged-articles" class="articles">
        <%= render partial: "articles/shared/search_articles", collection: @tagged_articles, as: "article" %>
      </ul>
    <% end %>
  </div>
</div>
