<%= turbo_frame_tag "search_articles_page_#{search_articles.current_page}" do %>
  <ul id="search-or-tagged-articles" class="articles">
    <%= render partial: "articles/shared/search_articles",
               collection: search_articles,
               as: "article" %>
  </ul>

  <% if search_articles.next_page %>
    <%= turbo_frame_tag "search_articles_page_#{search_articles.next_page}",
        src: search_path(page: search_articles.next_page, q: { target: @target }),
        loading: :lazy,
        class: "infinite-scroll-frame" do %>
      <div class="spinner"></div>
    <% end %>
  <% end %>
<% end %>
