@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */ 

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */ 

body {
    padding-top: 50px;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
    h1 {
      margin-bottom: 10px;
    }  
}

th,td {
  border: solid 1px;  /* 枠線指定 */
  padding: 10px;      /* 余白指定 */
}

table {
  margin-top: 5px;
  border-collapse:  collapse; /* セルの線を重ねる */
  tr:nth-child(odd) td {
    background-color:  #ddd;    /* 背景色指定 */
  }
}

#flash {
  .flash-alert {
    position: fixed;
    z-index: 5000;
    top: 70px;
    left: 0;
    right: 0;
    margin: auto;
    width: 800px;
  }
}

/* typography */ 

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

h1 {
    font-size: 2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    color: #777;
}

h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
}
hr { 
  margin-top: 5px;
}

/* header */ 

.navbar-inverse {
  margin-bottom: 0;
  border: none;
}

#logo {
    font-family: 'Oooh Baby', Sans-serif;
    float: left;
    margin-right: 10px;
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 5px;
    font-weight: bold;
    &:hover {
      color: #fff;
      text-decoration: none; 
    }
}

.container {
  max-width: none;
  overflow: visible !important;
}

.navbar-inverse .navbar-nav li a  {
  color: #fff;
}

.non-logged-in-menu {
  display: flex;
  margin-top: 14px;
  li {
    margin-right: 10px;
    a:hover {
      text-decoration: none;
    }
  }
}

#dropdown-menu {
  background-color: #acc0c5;
  border: none;
  a {
    &:hover {
      background-color: #96abaf;
    }
  }
}

.dropdown-menu {
  .active {
    border-radius: 10px;
  }
}

.navbar-nav li .dropdown-menu {
  margin-top: 18px;
  border-radius: 10px
}

#account {
  padding: 0;
}

.header-profile-img {
  width: 33px;
  height: 33px;
  padding-top: 8px;
  align-items: center;
  transition: .1s;
  &:hover {
    opacity: .7;
  }
  img {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    display: block;
  }
}

li.link-btn {
  font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
  height: 30px;
  margin-left: 15px;
  margin-top: 10px;
  background-color: #99b9c2;
  border: .5px solid #fff;
  border-radius: 10px;
  &:hover {
    border-radius: 10px;
    opacity: .7;
  }
  a {
    padding-top: 4px;
    padding-bottom: 3px;
  }
}

.btn-custom {
  border-radius: 10px;
}

#responsive-menu {
  display: none;
}

#article_search {
  display: flex;
  width: 300px;
  height: 30px;
  margin-top: 10px;
  margin-right: 20px;
  border-radius: 4px;
  background-color: #fff;
  &:hover {
    outline: #777 solid 1.5px;
  }
  &:focus-within {
    outline: #777 solid 1.5px;
  }
  .search-window {
    background-color: #fff;
    margin-bottom: 0;
    border-radius: 4px;
    border: none;
    outline: none;
  }
  #search-btn {
    border: none;
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 2px;
    color: #969696;
    &:hover {
      background: none;
      outline: none;
      color: #777;
    }
    &:focus {
      background: none;
    }
  }
}

#search-window-open {
  display: none;
}

#responsive-search-window {
  .display {
    display: none;
  }
  #search-window {
    .display {
      display: none;
    }
  }
}

#search-window-close {
  .display {
    display: none;
  }
}

#navbar-menu {
  display: flex;
  max-width: 80%;
}

/* about-page */

#about_page {
  background-color: #f2fcff;
  border-radius: 10px;
  max-width: 700px;
  margin: auto;
  margin-top: 50px;
}

.about-page {
  max-width: 640px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: auto;
}

/* mail */ 

.app-name {
  color: #99b9c2;
}

/* home */ 

.site-info {
  margin-top: 50px;
  a {
    color: #99b9c2;
  }
}

.home {
  margin: auto;
  .title-and-link {
    font-family: '游ゴシック体', 'Yu Gothic', YuGothic, sans-serif;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    h4 {
      color: #333333;
      font-weight: bold;
      margin-top: 0;
    }
    .articles-link {
      font-size: 1.3rem;
      &:hover {
        opacity: .7;
      }
      a {
        text-decoration: none;
        color: #777;
      }
      i {
        color: #777;
      }
    }
  }
  ol.articles {
    display: flex;
    justify-content: left;
    overflow-x: scroll;
    margin-bottom: 50px;
    li {
      //width: 300px;
      margin-right: 20px;
    }
  }
  .articles::-webkit-scrollbar {
    display: none;
  }
}

/* footer */ 

footer {
    height: 50px;
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid $gray-medium-light;
    font-size: 2.5rem;
    font-family: 'Oooh Baby', Sans-serif;
    text-align: center;
    a {
      color: #333333;
      &:hover {
        color: #333333;
        text-decoration: none; 
        opacity: .8;
      }
    }
    ul {
      float: right; 
      list-style: none;
      li {
        float: left; 
        margin-left: 15px; 
      }
    }
}

/* sidebar */ 

aside {
  section.user-info {
    margin-top: 20px;
  }
  section.introduction {
    margin: 0;
    padding: 0;
    p {
      overflow-wrap: break-word;
      max-width: 250px;
      color: gray;
      font-family: '游ゴシック体', 'Yu Gothic', YuGothic, sans-serif;
      font-size: 1.3rem;
      margin: 0;
    }
  }
  section {
    padding: 10px 0;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.profile_img {
  img {
    float: left;
    border-radius: 50%;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
}

section.stats { 
  overflow: auto;
  padding: 0;
  text-align: center;
  margin-top: 10px;
  a { 
    float: left;
    padding: 0 10px;
    color: gray;
    &:first-child {
      padding-left: 0;
    }
    &:hover {
      text-decoration: none;
      color: rgb(195, 195, 195);
    }
  }
  strong {
    display: block;
  }
}

section.favorite-article-list-link {
  margin-top: 10px;
  font-size: 1.7rem;
  a {
    color: #7aa4af; 
  } 
}

.col-md-5 {
  h4 {
    margin-top: 40px;
  }
}

.follow-btn {
  .btn-primary {
    background-color: #99b9c2;
    border: 1px solid #99b9c2;
  }
}

.users {
  list-style: none;
  padding: 0;
  display: table;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e858;
    height: 50px;
    display: flex;
    justify-content: space-between;
  }
  a {
    text-decoration: none;
    color: #777;
  }
  .name {
    display: table-cell;
    vertical-align: middle;
    margin-top: 5px;
  }
  .user-profile-image {
    vertical-align: middle;
    display: table-cell;
    img {
      border-radius: 50%;
      margin-right: 10px;
      width: 30px;
      height: 30px;
      object-fit: cover;
    }
  }
  .follow-button {
    display: table-cell;
    vertical-align: middle;
    padding-left: 100px;
  }
}

/* forms */ 

input, textarea {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    margin-left: 20px;
    padding-left: 10px;
  }
}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.create_user {
  margin-top: 20px;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#user_remember_me {
  width: auto;
  margin-left: 0;
}

.account-create-btn {
  .btn {
    border: 1px solid #99b9c2; 
    background-color: #99b9c2; 
    outline: none;
    &:hover {
      opacity: .8;
      border: 1px solid #99b9c2; 
      background-color: #99b9c2; 
      outline: none;
    }
    &:active {
      border: 1px solid #99b9c2; 
      background-color: #99b9c2; 
      outline: none;
    }
  }
}

.account-edit-btn {
  .btn {
    border: 1px solid #99b9c2; 
    background-color: #99b9c2; 
    outline: none;
    &:hover {
      opacity: .8;
      border: 1px solid #99b9c2; 
      background-color: #99b9c2; 
      outline: none;
    }
    &:active {
      border: 1px solid #99b9c2; 
      background-color: #99b9c2; 
      outline: none;
    }
  }
}

div.birthday {
  margin-top: 16px;
  margin-bottom: 16px;
  div.birthday-select {
    display: block;
    padding-top: 6px;
    padding-top: 6px;
  }
}

.login-btn.btn {
  border: 1px solid #99b9c2; 
  background-color: #99b9c2; 
  outline: none;
  &:hover {
    opacity: .8;
    border: 1px solid #99b9c2; 
    background-color: #99b9c2; 
    outline: none;
  }
  &:active {
    border: 1px solid #99b9c2; 
    background-color: #99b9c2; 
    outline: none;
  }
}

.follow-btn.btn-primary {
  border: 1px solid #99b9c2; 
  background-color: #99b9c2; 
  outline: none;
  width: 110px;
  &:hover {
    opacity: .8;
    border: 1px solid #99b9c2; 
    background-color: #99b9c2; 
    outline: none;
  }
  &:active {
    border: 1px solid #99b9c2; 
    background-color: #99b9c2; 
    outline: none;
  }
}

.unfollow-btn.btn {
  border: 1px solid rgb(232, 232, 232);
  background-color: rgb(232, 232, 232); 
  outline: none;
  &:hover {
    border: 1px solid rgb(232, 232, 232);
    background-color: rgb(232, 232, 232);
    opacity: .8;
    outline: none;
  }
  &:active {
    border: 1px solid rgb(232, 232, 232);
    background-color: rgb(232, 232, 232);
    outline: none;
  }
}

#follow_form {
  .unfollow-btn.btn {
    width: 200px;
  }
  .follow-btn.btn {
    width: 200px;
  }
 }

 .create_user {
   a {
    color: #99b9c2;
   }
 }

 .pass-reset-btn {
  background-color: #99b9c2;
  border: 1px solid #99b9c2;
  outline: none;
 }

 .pass-reset-btn.btn:hover {
  background-color: #99b9c2;
  opacity: .8;
  border: 1px solid #99b9c2;
 }

 .pass-reset-btn.btn:active {
  border: 1px solid #99b9c2;
  background-color: #99b9c2;
  outline: none;
  }

  .pass-reset-btn.btn-primary {
    border: 1px solid #99b9c2;
    background-color: #99b9c2;
    outline: none;
  }

 // pagination 

 div.pagination {
  width: 100%;
  ul.pagination {
    display: block;
    width: fit-content;
    margin: 0 auto;
    color: #99b9c2;
  }
}

.pagination>li>a {
  border: none;
  color: #777;
}

.pagination>.active>a {
  background: #99b9c2;  
  border-radius: 50%;
}

.pagination>.active>a:hover {
  background: #99b9c2;  
}

.pagination>li>a:hover {
  background: #99b9c2;  
  border-radius: 50%;
  opacity: .8;
  color: #fff;
}

.pagination li:first-child a {
  color: #777;
  background: none;
}

.pagination li:last-child a {
  color: #777;
  background: none;
}



/* Dropdown menu */ 

.dropdown-menu.active { 
  display: block;
}

/* delete user */ 

.delete-user-check {
  font-size: 1.2em;
  margin-top: 30px; 
  float: right;
  a {
    color: #7c8c90;
    &:hover {
      color: #000;
    }
  }
}

.delete-confirm {
  text-align: center; 
  .btn-primary.delete-confirm-btn {
    background-color: rgb(195, 5, 5);
    border-color: rgb(195, 5, 5);
    margin-left: 10px;
  }
}

/* image trimming */ 

#target {
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
  border-radius: 50%;
  object-fit: cover;
}

.cropper-area {
  width: 300px;
  height: 300px;
  img#cropper-img {
    object-fit: cover;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* 半透明の黒色 */
  z-index: 1049;
}

.dli-close {
  display: inline-block;
  vertical-align: middle;
  color: #333;
  line-height: 1;
  width: 1em;
  height: 0.1em;
  background: currentColor;
  border-radius: 0.1em;
  position: relative;
  transform: rotate(45deg);
}

.dli-close::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  transform: rotate(90deg);
}

.modal {
  position: fixed;
}

.cropper-view-box,
.cropper-face { 
  border-radius: 50%;
  cursor: grab;
  outline: initial;
  &:active {
    cursor: grabbing;
  }
}

.modal-body {
  max-width: 500px;
}

/* articles */ 

.article-page {
  max-width: 640px;
  margin: auto;
  margin-top: 30px;
  h1 {
    font-size: 3rem;
    color: #333;
  }
  span.article-heading-image { 
    display: block;
    width: fit-content;
    img {
      max-width: 100%;
      max-height: 360px;
      object-fit: contain;
    }
  }
  .row {
    margin: 0;
    width: 640px;
  }
}

.search-tag-result {
  font-family: '游ゴシック体', 'Yu Gothic', YuGothic, sans-serif;
  font-weight: bold;
  margin-top: 40px;
}

#search-or-tagged-articles {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-content: space-between;
  column-gap: 10px;
  li {
    margin: 0 auto;
  }
}

#tagged-articles {
  background-color: #f7f7f7;
  border-radius: 10px;
  margin-top: 30px;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-content: space-between;
  column-gap: 10px;
  li {
    margin: 0 auto;
  }
}

.articles {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    height: auto;
    width: fit-content;
    .name {
      width: fit-content;
      a {
        display: block;
        text-decoration: none;
        color: #777;
      }
    }
  }
  span.heading-image {
    display: inline-block;
    width: fit-content;
    height: fit-content;
    transition: .1s;
    &:hover {
      opacity: .5;
    }
    img {
      width: 200px;
      height: 106px;
      border-radius: 5px;
      object-fit: cover;
    }
    a {
      display: inline-block;
      width: fit-content;
      height: fit-content;
      text-decoration: none;
    }
    .no-heading-image {
      font-family: 'Oooh Baby', Sans-serif;
      text-align: center;
      font-size: 2.2rem;
      background-color: #99b9c2;
      width: 200px;
      height: 106px;
      border-radius: 5px;
      object-fit: cover;
      color: #fff;
      font-weight: lighter;
      p {
        padding-top: 35px;
      }
    }
  }
  .title {
    display: block;
    width: 200px;
    font-size: 1.1em;
    font-weight: 530;
    margin-top: 10px;
    margin-bottom: 8px;
    padding-top: 0;
    color: #333;
    a {
      color: #060c0d;
      text-decoration: none;
    }
  }
  .article-info {
    display: flex;
    .name {
      width: 160px;
      a {
        display: block;
        text-decoration: none;
        color: #777;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .timestamp {
      color: $gray-light;
    }
  }
}

aside { 
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

.article-title {
  text-align: left;
}

.user { 
  padding-top: 10px;
}

.timestamp {
  color: $gray-light;
  display: block;
}

.content {
  img {
    max-width: 100%;
    object-fit: content;
  }
}

.col-sm-4 {
  h4 {
    margin-top: 40px;
  }
}

.col-sm-8 {
  h4 {
    margin-top: 40px;
  }
}

.user-info {
  .name {
    width: 300px;
    font-size: 1.1em;
    font-weight: 700;
    margin-top: 13px;
    color: #777;
    a {
      text-decoration: none;
      color: #000;
    }
  }
} 

.user-profile-img {
  img {
    float: left;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 5px;
    width: 30px;
    height: 30px;
    object-fit: cover;
  }
}

.article-information {
  width: 80%;
  margin-bottom: 30px;
  float: left; 
  .article-profile-img {
    img {
    float: left;
    border-radius: 50%;
    margin-right: 10px;
    width: 35px;
    height: 35px;
    object-fit: cover;
    }
  }
  .name-and-time {
    width: auto;
    text-align: left;
    .timestamp {
      font-size: .8em;
    }
  } 
  a {
    color: #333333;
    text-decoration: none;
  }
}

#good-btn {
  margin-top: 10px;
  a {
    color: #000;
    text-decoration: none;
  }
}

.select-operation {
  float: right; 
}

.article-edit {
  float: right;
  padding: 0;
  margin: 0;
  overflow: visible;
  text-align: center;
  .dropdown-menu {
    border-radius: 10px;
  }
  #option {
    display: block;
    width: 100%;
    height: 20px;
    padding-right: 10px;
    margin-left: 15px;
  }
}

.article-edit-btn {
  .btn {
    border: 1px solid #99b9c2; 
    background-color: #99b9c2; 
    outline: none;
    &:hover {
      opacity: .8;
      border: 1px solid #99b9c2; 
      background-color: #99b9c2; 
      outline: none;
    }
    &:active {
      border: 1px solid #99b9c2; 
      background-color: #99b9c2; 
      outline: none;
    }
  }
}

.tags {
  margin-bottom: 30px;
  i {
    padding-top: 7px;
    padding-bottom: 7px;
    margin-right: 10px;
    color: #99b9c2;
  }
  ul {
    display: flex;
    padding: 0;
    list-style: none;
    li.tag {
      font-size: 1.1em;
      border-radius: 4px;
      border: 1px solid #777;
      background-color: rgb(244, 244, 244);
      margin-right: 5px; 
      width: fit-content;  
      cursor: pointer;
      &:hover {
        opacity: .7;
      }
      a {  
        padding: 1px 5px;
        font-weight: 350;
        display: block;
        text-decoration: none;
        color: #333333;
      }
    }
  }
}

//comment 

.article-comment {
  background-color: rgb(243, 243, 243);
  border-radius: 8px;
  p {
    padding-top: 15px;
    margin-right: 10px;
    margin-left: 10px;
  }
  hr {
    border-top: 1px solid #d1d1d1;
    margin: 0;
  }
  #article-comment-list {
    .comment-info {
      margin-top: 10px;
      margin-left: 10px;
      margin-right: 10px;
      display: flex;
      justify-content: space-between;
      .comment-user-info {
        display: flex;
        .article-comment-user-name {
          margin-top: 6px;
        }
        a {
          width: fit-content;
          color: #333333;
          text-decoration: none;
        }
        .article-comment-profile-img {
          margin-right: 10px;
          width: fit-content;
          .comment-user-img {
            width: 33px;
            height: 33px;
            border-radius: 50%;
          }
        }
      }
      .comment-time-and-option {
        display: flex;
        font-size: 1.3rem;
        color: #777;
        padding-top: 4px;
        max-width: 200px;
        .dropdown3 {
          display: block;
          width: 100%;
          height: 20px;
          padding-right: 10px;
          margin-left: 15px;
        }
      }
    }
    .comment {   
      margin-right: 10px;
      margin-left: 10px;
      margin-bottom: 10px;
      font-family: '游ゴシック体', 'Yu Gothic', YuGothic, sans-serif;
      font-size: 1.7rem;
      font-weight: lighter;
      line-height: 1.7em;

      h1, h2, h3 {
        text-align: left;
      }

      p {
        padding: 0;
        padding-top: 15px;
        overflow-wrap: break-word;
        img {
          max-width: 100%;
        }
      }
    }
    #good-btn {
      margin-left: 20px;
      margin-bottom: 10px;
    }

    div#comment-edit {
      display: none;
    }

    .submit-and-cancel-btn {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 20px;
      .edit-cancel-btn {
        width: 100px;
        background-color: #8a8a8a;
        border-radius: 4px;
        text-align: center;
        margin-right: 10px;
        &:hover {
          opacity: .8;
        }
        a {
          padding-top: 7px;
          display: block;
          height: 100%;
          color: #fff;
          text-decoration: none;
          &:hover {
            color: #fff;
          }
        }
      }
      .submit-btn {
        .btn {
          width: 100px;
          color: #fff;
          background-color: #99b9c2;
          outline: none;
          &:hover {
            opacity: .8;
          }
        }
      }
    }
    .article-comment-edit-area {
      margin-top: 20px;
      margin-left: 10px;
      margin-right: 10px;
      p {
        margin-left: 0;
        padding: 0;
      }
    }
  }

  #comment-area {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    .comment-user-img {
      width: 33px;
      height: 33px;
      border-radius: 50%;
      margin-bottom: 10px; 
    }   
    .submit-btn {
      display: flex;
      justify-content: flex-end;
      color: #fff;
      .btn {
        margin-bottom: 20px;
        background-color: #99b9c2;
        width: 100px;
        outline: none;
        color: #fff;
      }
      &:hover {
        opacity: .8;
      }
    }
    .article-comment-text-area {
      height: 200px;
    }
    p {
      margin: 0;
      padding: 0;
    }
  }
}

.login-and-sign-up-page-link {
  font-size:1.5rem;
  padding-top: 10px;
  padding-bottom: 20px;
  a {
    color: #7caab4;
    &:hover {
      opacity: .7;
      text-decoration: none;
    }
  }
}

#dropdown-menu2 {
  background-color: #acc0c5;
  border: none;
  a {
    color: #fff;
    &:hover {
      background-color: #96abaf;
    }
  }
}

ul.article-comment-option {
  background-color: #acc0c5;
  border: none;
  right: 0;
  left: auto;
  li a {
    margin: 0 !important;
    color: #fff;
    &:hover {
      color: #fff;
      background-color: #96abaf;
    }
  }
}

.dli-more-v {
  display: inline-block;
  vertical-align: middle;
  color: #333;
  line-height: 1;
  width: 0.25em;
  height: 0.25em;
  background: currentColor;
  border-radius: 50%;
  box-shadow: 0 -0.375em 0 0 currentColor, 0 0.375em 0 0 currentColor;
}

#option {
  display: block;
}

.article-text-field {
  display: flex;
}

.toolbar {
  display: flex;
  background-color: #99b9c2;
  height: 30px;
  border-radius: 5px;
    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      outline: none;
      padding: 0;
      appearance: none;
    }
    img {
      cursor: pointer;
      display: block;
    }
    .article-image-upload {
      height: 30px;
      .fa-image {
        color: whitesmoke;
        cursor: pointer;
        border-radius: 5px;
        font-size: 2rem;
        padding-top: 5.5px;
        padding-left: 7px;
        padding-right: 7px;
        padding-bottom: 6px;
      }
      &:hover {
        background-color: #96abaf;
        border-radius: 5px;
      }
    }
}

.preview-open {
  margin-left: auto;
  padding-bottom: 2px;
  .fa-book-open {
    font-size: 1.5rem;
  }
}

#markdown.size {
  height: 300px;
}

#markdown.display {
  width: 570px;
  height: 300px;
}

#preview-btn {
  padding-bottom: 4px;
  color: whitesmoke;
  &:hover {
    background-color: #96abaf;
  }
}

.preview-btn {
  padding-bottom: 4px;
  color: whitesmoke;
  border: none;
  &:hover {
    background-color: #96abaf;
    color: whitesmoke;
  }
}

#edita {
  padding-bottom: 4px;
  color: whitesmoke;
  &:hover {
    background-color: #96abaf;
  }
  .fa-edit {
    text-align: center;
    font-size: 1.5rem;
  }
}

.edita {
  padding-bottom: 4px;
  color: whitesmoke;
  border: none;
  &:hover {
    background-color: #96abaf;
    color: whitesmoke;
  }
  .fa-edit {
    text-align: center;
    font-size: 1.5rem;
  }
}

label {
  margin-bottom: 0px;
}

.select-image {
  margin-top: 10px;
  border-radius: 8px;
  background-color: #99b9c2;
  color: #fff;
  &:hover {
    opacity: .8;
    color: #fff;
  }
}

#header-img-preview {
  max-width: 640px;
  margin-bottom: 30px;
  aspect-ratio: 16/9;
  border: 1px dashed #ccc;
  background:repeating-linear-gradient(
    -45deg,
    #ccc,
    #ccc 1px,
    #fff 0,
    #fff 29px
  );
  p {
    text-align: center;
    font-size: 1.5rem;
    max-width: 100%;
    padding-top: 25%;
    color: #777;
  }
  .preview {
    text-align: left;
    width: fit-content;
    img {
      width: 100%;
      max-width: 640px;
      max-height: 360px;
      object-fit: contain;
    }
  }
}

#add-tags { 
  label.form-label {
    color: #333333;
    font-weight: 350;
  }
}

.content {
  font-family: '游ゴシック体' , 'Yu Gothic', YuGothic, sans-serif;
  font-size: 1.8rem;
  overflow: wrap;

  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
    color: #333;
    text-align: left;
    line-height: 2;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  p {
    line-height: 2;
    font-size: 1.8rem;
    color: #333;
    margin: 0;
    padding: 0;
  }

  a {
    word-wrap: break-word;
    color: #99b9c2;
    border-bottom: 1px solid #99b9c2;
    &:hover {
      text-decoration: none;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    padding-left: 20px;
    line-height: 2;
  }
}

#markdown.display {
  display: none;
}

.preview-btn.display {
  display: none;
}

.edita.display {
  display: none;
}

.html.display {
  display: none;
}

.html.preview-width {
  width: 100%;
  margin-bottom: 15px;
}

.text-area-and-preview {
  display: flex;
  justify-content: center;
  .article-text-area {
    height: 300px;
    resize: none;
  } 
  #markdown {
    width: 100%;
  }
  #markdown.edita-width {
    color: #333;
    width: 50%;
  }
}

.title-field {
  margin: auto;
  max-width: 100%;
}

.list-title-field {
  margin: auto;
  max-width: 500px;
}

span#count_text {
  display: block;
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.limit-length {
  color: red;
}

.article-submit-btn {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  .btn {
    border: 1px solid #99b9c2; 
    background-color: #99b9c2; 
    outline: none;
    &:hover {
      opacity: .8;
      border: 1px solid #99b9c2; 
      background-color: #99b9c2; 
      outline: none;
    }
    &:active {
      border: 1px solid #99b9c2; 
      background-color: #99b9c2; 
      outline: none;
    }
  }
}

.favorite-list-submit-btn {
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  .btn {
    border: 1px solid #99b9c2; 
    background-color: #99b9c2; 
    outline: none;
    &:hover {
      opacity: .8;
      border: 1px solid #99b9c2; 
      background-color: #99b9c2; 
      outline: none;
    }
    &:active {
      border: 1px solid #99b9c2; 
      background-color: #99b9c2; 
      outline: none;
    }
  }
}

.favorite-list-edit-btn {
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  .btn {
    border: 1px solid #99b9c2; 
    background-color: #99b9c2; 
    outline: none;
    &:hover {
      opacity: .8;
      border: 1px solid #99b9c2; 
      background-color: #99b9c2; 
      outline: none;
    }
    &:active {
      border: 1px solid #99b9c2; 
      background-color: #99b9c2; 
      outline: none;
    }
  }
}

#favorite-submit {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #f3f3f3;
  border-radius: 8px;
  p {
    padding-top: 10px;
  }
  .favorite-submit-introduction {
    color: rgb(104, 104, 104);
    font-size: 1.3rem;
  }
  .fa-star {
    color: #99b9c2; 
    margin-right: 5px;
  }
  #list-select {
    margin-bottom: 10px;
    #favorite_favorite_article_list_id {
      border-radius: 8px;
      border: solid #99b9c2 2px;
      outline: none;
    }
  }
  .favorite-submit-btn {
    justify-content: center;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: #99b9c2;
    color: #fff;
    width: 200px;
    &:hover {
      opacity: .8;
    }
  }
}

#list_option {
  text-align: left;
}

.new_favorite_list_link {
  width: 200px;
  font-size: 1.5rem;
  margin-top: 20px;
  text-align: center;
  a {
    color: #99b9c2;
  }
}

.favorite_article_list_option {
  font-size: 1.5rem;
  padding-bottom: 15px;
  text-align: center;
  a {
    color: #7aa4af;
  }
}

p.no-list {
  text-align: center;
}

input.favorite_article_delete_btn {
  color: #fff;
  background-color: #8a8a8a;
  border-radius: 4px;
  border: none;
  margin-top: 5px;
  &:hover {
    opacity: .8;
  }
  outline: none;
}

.favorite_list_bookmark {
  .bookmark-btn {
    margin-top: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    i:hover {
      color: #7aa4af;
    }
  }
  .unbookmark-btn {
    margin-top: 10px;
    background: none;
    border: none;
    color: #99b9c2;
    font-size: 1.5rem;
    i {
      font-weight: bold;
      &:hover {
        opacity: .8;
      }
    }
  }
}

.title-and-bookmark {
  display: flex;
  justify-content: space-between;
}

.tab-background {
  display: flex;
  max-width: 100%;
  background-color: #f4f4f4;
  border-radius: 4px;
  border-bottom: solid 2px #a1a1a1;
}

.tab-list {
  display: flex;
  width: 100%;
  margin-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 4px;
  color: #a7a7a7;
  font-weight: bold;
  text-align: center;
}

.tab {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-bottom: solid 1px #CCC;
  border-radius: 5px;
}

.tab-active {
  background-color: #99b9c2;
  color: #fff;
  border-left: solid 1px #CCC;
  border-top: solid 1px #CCC;
  border-right: solid 1px #CCC;
  border-bottom: none;
  &:hover {
    color: #fff !important;
    opacity: .8 !important;
  }
}

.tabbox {
  display: none;
  padding: 15px;
}

.box-show {
  display: block;
}

.tab:hover {
  color: #7c7c7c;
}

.tabbox {
  background-color: #f4f4f4;
}

.html {
  padding-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fff;
  width: 50%;
  height: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow-y: scroll;
  text-align: left;
  line-height: 2;

  h1, h2, h3, h4, h5, h6 {
    text-align: left;
    color: #333;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 2;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.8rem;
    margin-bottom: 0;
  }

  a {
    color: #99b9c2;
    border-bottom: 1px solid #99b9c2;
    &:hover {
      text-decoration: none;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    padding-left: 20px;
    font-size: 1.8rem;
    line-height: 2;
  }

  div.preview-placeholder {
    color: #9e9c9c;
    padding-top: 3px;
  }

  img {
    max-width: 100%;
    object-fit: cover;
    margin-bottom: 10px;
  }
}

/* search */ 

.search-result {
  font-family: '游ゴシック体', 'Yu Gothic', YuGothic, sans-serif;
  font-weight: bold;
  margin-top: 40px;
}

@media (max-width: 768px) {

  #logo {
    font-size: 1.7em;
    padding-top: 7px;
  }

  .container {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }

  footer {
    ul {
      float: none;
      padding: 0; 
      li {
        float: none;
        margin-left: 0; 
      }
    }
  }

  // header 

  nav {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    #navbar-menu {
      .non-logged-in-menu {
        margin: 0;
        margin-top: 14px;
      }
    }
  }

  #article_search {
    display: none;
  }

  #search-window-open {
    height: 100%;
    margin-top: 10px;
    display: block;
    margin-right: 20px;
    font-size: 20px;
    cursor: pointer;
    a {
      color: #fff;
      text-decoration: none;
      &:hover {
        color: rgb(225, 225, 225);
      }
    }
  }

  #responsive-search-window.display-flex {
    width: 100%;
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    margin: auto;
    border-radius: 4px;
    background-color: #99b9c2;
    #search-window-close {
      background-color: #99b9c2;
      border: none;
      width: 5%;
      margin: auto;
      padding: 0;
      font-size: 20px;
      width: fit-content;
      &:hover .dli-close {
        color: #777;
      }
      .dli-close {
        color: #fff;
      }
    }
    position: fixed;
    right: 0;
    left: 0;
    top: 5px;
    margin-top: auto;
    margin-bottom: auto;
    #search-window.display-flex {
      width: 90%;
      height: 40px;
      display:flex;
      border-radius: 4px;
      background-color: #fff;
      outline: rgb(196, 196, 196) solid 1.5px;
      &:hover {
        outline: #777 solid 1.5px;
      }
      &:focus-within {
        outline: #777 solid 1.5px;
      }
      .responsive-search-window {
        background-color: #fff;
        border-radius: 4px;
        border: none;
        outline: none;
        margin-bottom: 0;
      }
      #responsive-search-btn {
        font-size: 20px;
        color: rgb(150, 150, 150);
        border: none;
        border-radius: 4px;
        padding-left: 5px;
        padding-right: 6px;
        &:hover {
          background: none;
          outline: none;
          color: #777;
        }
        &:focus {
          background: none;
        }
      }
    }
  }

  // menu

  #account {
    display: none;
  }

  #responsive-menu {
    display: flex;
    float: right;
    width: fit-content;
    margin-bottom: 10px;
  }

  .navbar {
    nav {
      max-height: 50px;
    }
    height: fit-content;
    margin: 0 auto;
    a {
      height: fit-content;
    }
  }

  .navbar-nav {
    margin: 0;
    height: 50px;
  }

  .responsive-link-btn {
    display: block;
    height: 30px;
    margin-top: 10px;
    margin-left: 15px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1.5px;
    background-color: #99b9c2;
    border: .5px solid #fff;
    border-radius: 10px;
    &:hover {
      border-radius: 10px;
      opacity: .7;
    }
    a {
      max-width: 75px;
      padding-top: 3px;
      padding-bottom: 3px;
    }
    .btn-custom {
      padding-top: 2.5px;
    }
  }

  .select-operation {
    margin-top: 8px;
    .article-edit {
      margin: 0;
    }
  }

  #dropdown-menu3 {
    border-radius: 10px;
    margin-right: 10px;
    background-color: #acc0c5;
    a {
      &:hover {
        background-color: #96abaf;
      }
    }
  }

  .row {
    margin: auto;
  }

  .col-sm-8 {
    width: 100%;
    padding: 0;
    margin: auto;
    h4 {
      text-align: center;
    }
    li {
      margin: auto;
    }
    .users.follow {
      margin: auto;
      .follow-button {
        padding: 0;
      }
      li {
        padding-right: 10px;
        padding-left: 10px;
        height: auto;
      }
      .user-info {
        .name {
          text-align: left;
          padding-right: 10px;
        }
      }
    }
  }

  .header-profile-img {
    width: 33px;
    height: 33px;
    margin-top: 8px;
    padding-top: 0;
    transition: .1s;
    &:hover {
      opacity: .7;
    }
    img {
      width: 33px;
      height: 33px;
      border-radius: 50%;
      display: block;
    }
  }

  li.link-btn {
    display: none;
  }

  .articles {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    li {
      padding: 10px 0;
    }
    a {
      text-decoration: none;
      color: #777;
    }
    .title {
      width: 200px;
      font-size: 1.1em;
      font-weight: 530;
      padding-top: 0;
      color: #060c0d;
      overflow: hidden;
      margin-top: 15px;
      margin-bottom: 8px;

    } 
    span.heading-image {
      transition: .1s;
      &:hover {
        opacity: .5;
      }
      img {
        width: 200px;
        height: 106px;
        object-fit: cover;
      }
    }
    .name {
      margin: 0;
    }
    .timestamp {
      color: $gray-light;
      display: block;
    }
  }

  // プロフィールページ

  .user-profile-img {
    img {
      float: none;
      margin-bottom: 10px;
    }
  }

  .col-sm-4 {
    width: 100%;
    text-align: center;
    padding: 0;
   .user-info {
    display: flex;
    justify-content: center;
    .name {
      float: right;
      padding-right: 20px;
    }
   }
   section.introduction {
    display: flex;
    justify-content: center;
   }
   .stats {
    display: flex;
    justify-content: center;
   }
   #follow_form {
    text-align: center;
    width: 100%;
    .unfollow-btn.btn {
      width: 200px;
    }
    .follow-btn.btn {
      width: 200px;
    }
   }
  }

  // 記事ページ

  .article-page {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    margin: auto;
    .row {
      width: auto;
    }
    h1 {
      font-size: 1.7em;
    }
    span.article-heading-image { 
      width: 100vw;
      margin: 0 calc(50% - 50vw);
      img {
        width: 100%;
        max-height: 360px;
        object-fit: cover;
      }
    }

    .select-operation {
      margin-right: 20px;
    }
  }

  // 記事投稿ページ

  .html {
    margin-bottom: 30px;
  }

  // 記事編集ページ

  #header-img-preview {
    p {
      font-size: 1.3rem;
    }
  }

  // 記事リストページ

  .tab-list {
    padding-top: 10px;
  }

  .tab-background {
    display: block;
    ul {
      margin-bottom: 0px;
    }
  }

  .favorite_article_list_option {
    margin-top: 10px;
    padding-left: 30px;
    padding-bottom: 10px;
  }

  .new_favorite_list_link {
    width: fit-content;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 10px;
  }
}