<footer class="footer">
  <div class="about">
    <%= link_to "Articlesについて", about_path, class: "about_link" %>
  </div>
  <div class="contact">
    <%= link_to "フィードバック", new_feedback_path, class: "feedback_link" %>
  </div>
</footer>