<header class="navbar navbar-fixed-top navbar-inverse fixed-top" style="background-color:#99b9c2;"> 
  <div class="container"> 
    <%= link_to "Articles", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right navbar-light">
        <li><%= link_to "ログイン", '#' %></li>
        <li><%= link_to "会員登録", signup_path %></li>
      </ul> 
    </nav> 
  </div> 
</header> 